<img src="https://drive.google.com/uc?export=view&id=1hiCNHNWliU96ZuVD0BnzFxdbaYzNPUtI" width="1200"/>

-  Social Media and Contact
  - My SNS: [instagram](https://www.instagram.com/ringo_data/?igsh=MTlrdW4xMzZvNTBtdw%3D%3D), [github](https://github.com/Hyosun-Kim)
  - E-mail: hyosunkim00@gmail.com

---
Command + M A = Add a cell above (코드 셀 위에 삽입)  
Command + M B = Add a cell below (코드 셀 아래 삽입)  
Command + M D = Delete a cell (셀 지우기)  
Command + M Y = Change cell to code (코드 셀로 변경)  
Command + M M = Change cell to markdown (마크다운 셀로 변경)   
Command + M Z = Undo (실행 취소)
<!-- -->

---

# Filtering
- pd.DataFrame 에서 Filtering 은 조건에 부합(Boolean 값이 True)하는 row 만 남기는 과정
```python
df[조건]
# boolean-series:[True, False, ..., True]
```

In [ ]:
# 예시
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Name': ['철수', '영희', '흥민', '범근'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago']
}

df = pd.DataFrame(data)

In [ ]:
# df.Age >  30; age_over_30
con = df.Age > 30
df['age_over_30'] = con

In [ ]:
df

  Name  Age         City  age_over_30
0   철수   25     New York        False
1   영희   30  Los Angeles        False
2   흥민   35     New York         True
3   범근   40      Chicago         True

In [ ]:
# filter result
# df[con] df[df.Age > 30] 둘은 결국 같은 얘기
df[con]

  Name  Age      City  age_over_30
2   흥민   35  New York         True
3   범근   40   Chicago         True

In [ ]:
df[df.Age > 30]

  Name  Age      City  age_over_30
2   흥민   35  New York         True
3   범근   40   Chicago         True

## between(), isin() , isna()
```python
#from_n 이상, to_n 이하
df['col'].between(from_n,to_n)

# 특정 열(col)의 값이 주어진 목록(['item1', 'item2'])에 포함되어 있는지 여부
df['col'].isin(['item','item'])

# 특정 열(col)의 값이 결측치(NA)일 경우 True, 아닐 경우 False를 반환
df['col'].isna()


```

In [ ]:
#titanic btw age
import seaborn as sns
df = sns.load_dataset('titanic')

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#df.age.between(20, 22)하고 con 으로 할당 해준 다음에
con = df.age.between(20, 22)

In [ ]:
df[con]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
37,0,3,male,21.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
51,0,3,male,21.0,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
56,1,2,female,21.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0,3,male,21.0,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
840,0,3,male,20.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
861,0,2,male,21.0,1,0,11.5000,S,Second,man,True,NaN,Southampton,no,False
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True

In [ ]:
df[con].age.value_counts()

22.0    27
21.0    24
20.0    15
20.5     1
Name: age, dtype: int64

In [ ]:
#isin embarked
df.embarked.value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [ ]:
df.embarked.isin(['S', 'C'])
#list 여서 대괄호로 감싸서 넣어줌

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888     True
889     True
890    False
Name: embarked, Length: 891, dtype: bool

In [ ]:
con = df.embarked.isin(['S', 'C'])

In [ ]:
df[con]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
#안보여서 개수로 확인 가능
df.embarked.value_counts() #여기서는 Q가 포함되어서 나옴[con]을 적용시키지 않았기 때문
df[con].embarked.value_counts() #여기서는 Q가 사라진 채로 두둥등장

S    644
C    168
Name: embarked, dtype: int64

In [ ]:
#isna deck ~ 사용: 반대로
df.deck.value_counts() #이렇게 하면 결측치는 보여주지 않음ㅠㅠ
df.deck.value_counts(dropna = False) #dropna = False 라고 해야됨

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [ ]:
con = df.deck.isna()

In [ ]:
df[con]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
#결측치가 아닌 것들을 보고 싶을 때 ~ 부정을 사용하면됨
df[~con]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
#~부정 하는 법 연습
~1 == 1
1 == 1
df.deck.isna()
~df.deck.isna()

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: deck, Length: 891, dtype: bool

## and(&), or(|)
- 두 개 이상의 조건을 결합
  - and: 모두 True -> True
  - or: 하나라도 True -> True

In [ ]:
 # True or False

In [ ]:
True and False # & 기호로 대체 가능

False

In [ ]:
True or False # | 기호로 대체 가능

True

In [ ]:
df = pd.DataFrame({'num':[1,2,3,4,5,6,7,8,9]})

In [ ]:
df

   num
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9

In [ ]:
#column 생성
df['col_1'] = df.num >= 6
df['col_2'] = df.num >= 3
df['col_and'] = df.col_1 & df.col_2
df['col_or'] = df.col_1 | df.col_2

In [ ]:
df

   num  col_1  col_2  col_and  col_or
0    1  False  False    False   False
1    2  False  False    False   False
2    3  False   True    False    True
3    4  False   True    False    True
4    5  False   True    False    True
5    6   True   True     True    True
6    7   True   True     True    True
7    8   True   True     True    True
8    9   True   True     True    True

In [ ]:
# ex age, deck

# Exercise

1. 연습문제: 타이타닉 데이터셋 필터링
- 문제:아래는 타이타닉 호 승객 데이터에 대한 간략한 설명과 함께 필터링 작업을 수행하는 문제. Seaborn 라이브러리를 사용하여 타이타닉 데이터셋을 불러온 후, 다음 작업을 수행하시오.
  - class가 'First'이고, age가 30 이상인 승객들의 데이터를 필터링하세요.
  - survived가 1(생존)이거나 embark_town이 'Southampton'인 승객들의 데이터를 필터링하세요.
  - fare가 100 이상이고, sex가 'female'인 승객들의 데이터를 필터링하세요.

In [ ]:
##class가 'First'이고, age가 30 이상인 승객들의 데이터를 필터링하세요.
import seaborn as sns
df = sns.load_dataset('titanic')

In [ ]:
#df.class 라고 했더니 class를 다르게 인식해버림 파이썬에서 쓰는 기능으로 인식한 듯
df['class'].isin(['First'])
df['class'] == 'First'

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: class, Length: 891, dtype: bool

In [ ]:
df.age > 30

0      False
1       True
2      False
3       True
4       True
       ...
886    False
887    False
888    False
889    False
890     True
Name: age, Length: 891, dtype: bool

In [ ]:
con = (df['class'] == 'First') & (df.age >= 30)
con

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [ ]:
df[con].age.value_counts()

36.0    9
35.0    9
38.0    6
30.0    6
45.0    5
50.0    5
47.0    5
48.0    5
39.0    5
49.0    5
40.0    5
58.0    5
31.0    5
52.0    4
42.0    4
33.0    4
56.0    4
54.0    4
62.0    3
37.0    3
44.0    3
51.0    3
60.0    3
64.0    2
32.0    2
61.0    2
71.0    2
46.0    2
65.0    2
45.5    1
41.0    1
63.0    1
34.0    1
55.0    1
53.0    1
80.0    1
70.0    1
43.0    1
Name: age, dtype: int64

In [ ]:
df[con].age.value_counts().sort_index() #가장 작은 값부터 차례로 보기 위함

30.0    6
31.0    5
32.0    2
33.0    4
34.0    1
35.0    9
36.0    9
37.0    3
38.0    6
39.0    5
40.0    5
41.0    1
42.0    4
43.0    1
44.0    3
45.0    5
45.5    1
46.0    2
47.0    5
48.0    5
49.0    5
50.0    5
51.0    3
52.0    4
53.0    1
54.0    4
55.0    1
56.0    4
58.0    5
60.0    3
61.0    2
62.0    3
63.0    1
64.0    2
65.0    2
70.0    1
71.0    2
80.0    1
Name: age, dtype: int64

In [ ]:
df[con]['class'].value_counts()

First     131
Second      0
Third       0
Name: class, dtype: int64

In [ ]:
#survived가 1(생존)이거나 embark_town이 'Southampton'인 승객들의 데이터를 필터링하세요.

In [ ]:
con2 = (df.survived ==1) | (df.embark_town == 'Southampton')
con2

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888     True
889     True
890    False
Length: 891, dtype: bool

In [ ]:
df[con2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
df[con2].survived.value_counts()

0    427
1    342
Name: survived, dtype: int64

In [ ]:
df[con2].embark_town.value_counts()

Southampton    644
Cherbourg       93
Queenstown      30
Name: embark_town, dtype: int64

In [ ]:
df2 = df[con2]

In [ ]:
#검증
df2[df2.survived != 1].survived.value_counts()
df2[df2.survived != 1].embark_town.value_counts()

Southampton    427
Name: embark_town, dtype: int64

In [ ]:
#fare가 100 이상이고, sex가 'female'인 승객들의 데이터를 필터링하세요.

In [ ]:
con3 = (df.fare >= 100) & (df.sex == 'female')
con3

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [ ]:
df[con3]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
195,1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
215,1,1,female,31.0,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
268,1,1,female,58.0,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.0,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
297,0,1,female,2.0,1,2,151.5500,S,First,child,False,C,Southampton,no,False
299,1,1,female,50.0,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
307,1,1,female,17.0,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False
311,1,1,female,18.0,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
318,1,1,female,31.0,0,2,164.8667,S,First,woman,False,C,Southampton,yes,False
319,1,1,female,40.0,1,1,134.5000,C,First,woman,False,E,Cherbourg,yes,False
325,1,1,female,36.0,0,0,135.6333,C,First,woman,False,C,Cherbourg,yes,True
334,1,1,female,NaN,1,0,133.6500,S,First,woman,False,NaN,Southampton,yes,False
337,1,1,female,41.0,0,0,134.5000,C,First,woman,False,E,Cherbourg,yes,True
341,1,1,female,24.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
380,1,1,female,42.0,0,0,227.5250,C,First,woman,False,NaN,Cherbourg,yes,True
393,1,1,female,23.0,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
435,1,1,female,14.0,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
498,0,1,female,25.0,1,2,151.5500,S,First,woman,False,C,Southampton,no,False
537,1,1,female,30.0,0,0,106.4250,C,First,woman,False,NaN,Cherbourg,yes,True
581,1,1,female,39.0,1,1,110.8833,C,First,woman,False,C,Cherbourg,yes,False
609,1,1,female,40.0,0,0,153.4625,S,First,woman,False,C,Southampton,yes,True
689,1,1,female,15.0,0,1,211.3375,S,First,child,False,B,Southampton,yes,False
700,1,1,female,18.0,1,0,227.5250,C,First,woman,False,C,Cherbourg,yes,False
708,1,1,female,22.0,0,0,151.5500,S,First,woman,False,NaN,Southampton,yes,True
716,1,1,female,38.0,0,0,227.5250,C,First,woman,False,C,Cherbourg,yes,True
730,1,1,female,29.0,0,0,211.3375,S,First,woman,False,B,Southampton,yes,True
742,1,1,female,21.0,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
763,1,1,female,36.0,1,2,120.0000,S,First,woman,False,B,Southampton,yes,False
779,1,1,female,43.0,0,1,211.3375,S,First,woman,False,B,Southampton,yes,False
856,1,1,female,45.0,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False

In [ ]:
df[con3].fare.value_counts() #확실하게 모르겠으면 sort_index() 해서 작은 값을 맨위로 올려서 알아도됨

211.3375    3
227.5250    3
151.5500    3
263.0000    2
120.0000    2
134.5000    2
164.8667    2
262.3750    2
146.5208    2
110.8833    2
135.6333    2
153.4625    2
113.2750    2
247.5208    1
133.6500    1
512.3292    1
106.4250    1
108.9000    1
Name: fare, dtype: int64

In [ ]:
df[con3].sex.value_counts()

female    34
Name: sex, dtype: int64

---
<img src="https://drive.google.com/uc?export=view&id=1hiCNHNWliU96ZuVD0BnzFxdbaYzNPUtI" width="1200"/>